@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

.bg-img {
  background-image: url('./assets/background//background1.jpg');

  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.zindex {
  z-index: 100000;
}

.boxShaddow {
  box-shadow: 2px -3px 0px 0px #a74318;
  -webkit-box-shadow: 2px -3px 0px 0px #a74318;
  -moz-box-shadow: 2px -3px 0px 0px #a74318;
}
